/* _content/UI.Components/Component1.razor.rz.scp.css */
.my-component[b-b92pdoyn3m] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/UI.Components/ToChooseProduct/ListCards.razor.rz.scp.css */
.color-card[b-2prfhqajup] {
    background-color: #e0f2fe;
}
